version: '3.8'

services:
  app:
    build: .
    container_name: qr
    ports:
      - "11451:11451"
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
    environment:
      - WEBUI_ENABLED=true
      - PORT=11451
